// Colors

// type of place
$vegan: #D5CE46;
$vegetarian: #5AAC39;
$friendly: #E30B5D;
$store: teal;
$other: tomato;

.vegan {
  color: $vegan
}
.vegetarian {
  color: $vegetarian;
}
.friendly {
  color: $friendly;
}
.store {
  color: $store;
}
.other {
  color: $other;
}

// social media
$google: #e75c3c;
$facebook: #6788ce;
$twitter: #29c5f6;
$pinterest: #cb2027;
$snapchat: #fffc00;
$instagram: #125688;
